* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.header {
background-color: #A7A376;
display: flex;
flex-direction: column;
align-items: center;
}
.header-logo {
  height: 5rem;
  width: 5rem;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1rem;
}
nav {
  background-color: #F6F1DF;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}
.nav-left {
  padding-left: 1rem;
}
.nav-right {
  padding-right: 1rem;
}

.home {
  background-color: #A7A376;
  display: flex;
  flex-direction: column;
}
.home-main {
  display: flex;
  
}
.home-left {
  padding-left: 7%;
  padding-top: 15%;
}
button {
  background-color: #A7A376;
  color:#F6F1DF;
  padding: 10px 24px;
  border-radius: 20px;
  border-color: #F6F1DF;
  border-style: solid;
  font-size: 16px;
  text-align: center;
}
.home-logo {
  width: 100%
}

.home-icons {
  display: flex;
  gap: 1rem;
  /* align-items: center; */
  justify-content: center;
  margin: 1rem;
}
.about-div {
  display: flex;
  background-color: #F6F1DF;
  
}
/* .about-img {
  
} */
.alexa-heart {
  height: 700px;
}
.about-text {
  padding-left: 7%;
  padding-top: 15%;
}
.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-products {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
.product-text {
  width: 50%;
  padding: 5%;
}
.product-img {
  height: 200px;
}

.story {
  background-color: #F6F1DF;
}
.story-button {
  background-color: #F6F1DF;
  color: #A7A376;
  border-color: #A7A376;
}
.journey-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px;
}
.journey-quote-words {
  color: #F6F1DF;
  font-size: xx-large;
}
.journey-name {
  border-top: solid black;
  padding-top: 100px;
}
.promo-div {
  background-image: url('../src/assets/promo.jpeg');
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
} 
.promo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo-img {
  height: 5rem;
  width: 5rem;
}
.essentials-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 50px;
  margin-top:400px;
}
.essentials-text h3 {
  color: #F6F1DF;
  font-size: xx-large;

}
.essentials-text p {
  color: #F6F1DF;
}