* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.logo-container {
  background-color: #A7A376;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F6F1DF;
}

a {
  text-decoration: none;
}

.header-logo {
  height: 5rem;
  width: 5rem;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1rem;

}

.nav-container {
  background-color: #F6F1DF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

nav a {
  text-decoration: none;
  color: black;
}

.nav-left {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-right {
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 0 10px;
}

.dropdown {
  display: block;
  position: relative;
}

.dropdownOptions {
  display: none;
  overflow: auto;
  position: absolute;
  background-color: #F6F1DF;
}


.dropdown p {
  cursor: pointer;

}

/* .dropdown p:hover {
  background-color: gray;
} */

.dropdown:hover .dropdownOptions {
  display: block;
}


.dropdownOptions a {
  text-align: left;
  display: block;
  padding: 5px;
  padding: 15px 10px;
  text-decoration: none;
  font-size: smaller;
  width: 100px;
}

.dropdownOptions a:hover {
  /* background-color: gray; */
  text-decoration: underline gray;
  transition: 150ms;
}

.home {
  background-color: #A7A376;
  display: flex;
  flex-direction: column;
}

.home-main {
  display: flex;
  /* background-color: #A7A376; */

}

.home-left {
  padding-left: 7%;
  padding-top: 15%;
  color: #F6F1DF;
}
/* .home-left h2 {
  margin-bottom: 0;
} */

button {
  background-color: #A7A376;
  color: #F6F1DF;
  padding: 10px 24px;
  border-radius: 20px;
  border-color: #F6F1DF;
  border-style: solid;
  font-size: 16px;
  text-align: center;
}

.home-logo {
  width: 100%
}

.home-icons {
  display: flex;
  gap: 1rem;
  /* align-items: center; */
  justify-content: center;
  margin: 1rem;
}

.about-div {
  display: flex;
  background-color: #F6F1DF;

}

/* .about-img {
  
} */
.alexa-heart {
  height: auto;
  width: 500px;
}

.about-text {
  padding-left: 7%;
  padding-top: 15%;
  color: #A7A376;
}

.products {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 1rem
}

.single-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-products {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.product-text {
  width: 50%;
  padding: 5%;
  color: #F6F1DF;
}

.product-img {
  height: 200px;
}

.home-story-div {
  display: flex;
  background-color: #F6F1DF;

}

.home-story-left {
  padding-left: 7%;
  padding-top: 15%;
  color: #A7A376;
}

.story-button {
  background-color: #F6F1DF;
  color: #A7A376;
  border-color: #A7A376;
}

.journey-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.journey-quote-words {
  color: #F6F1DF;
  font-size: xx-large;
  text-align: center;
}

.journey-name {
  border-top: solid black;
  padding-top: 100px;
}

.promo-div {
  background-image: url('../src/assets/promo.jpeg');
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo h4 {
  color: #F6F1DF;
}

.promo-img {
  height: 5rem;
  width: 5rem;
}

.essentials-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 50px;
  margin-top: 300px;
}

.essentials-text h3 {
  color: #F6F1DF;
  font-size: xx-large;
  text-align: end;
  margin-bottom: 0px;
}

.essentials-text p {
  color: #F6F1DF;
  padding-bottom: 50px;
}

.shop-nav {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
}

.shop {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 1%;
}

.shop-nav-options {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.shop-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding-left: 10%;
  padding-right: 10%;
  /* margin-right: 5%;
  margin-left: 5%; */
}

.single-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5%;
  /* margin-right: 5%;
  margin-left: 5%; */
}

.single-item-img {
  width: 100%;
}

.single-item-button {
  width: 80%;
  background-color: #F6F1DF;
  color: black;
  padding: 10px 24px;
  border-radius: 0px;
  border-color: black
}

.story-section {
  background-color: #A7A376;
  color: #F6F1DF;
}

.story-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A7A376;
}

.story-title h4 {
  padding-top: 5%;
}

.story-title h1 {
  padding: 20%;
}

.story p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 15%;
  padding-left: 15%;
  line-height: 2;
}

.story-images {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.story-img {
  width: 300px;
}

.story-cont {
  display: flex;
  padding: 5%;
}

.story-cont-img {
  width: 50%;
}

.story-cont-p {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.story-cont-p p {
  display: flex;
  justify-content: center;

  text-align: center;
  /* padding-top: 5%;
  padding-bottom: 5%; */
  padding-right: 15%;
  padding-left: 15%;
  line-height: 2;
}

.nurse-story-cont-img {
  width: 50%;
  display: flex;
  justify-content: end;
}

.nurse-story-img {
  width: 80%;
}

.story-last-logo {
  height: 5rem;
  width: 5rem;
}

.story-cont-p-last-logo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story-cont-last-img {
  width: 80%;
  display: flex;
  justify-content: center;
}

.story-cont-last {
  display: flex;
}

.story-cont-p-last-logo p {
  text-align: center;
}

.our-values-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

.values-dropdown-single {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
}
.icon-and-category {
  display: flex;
  align-items: center;

}
.values-icon {
  display: flex;
  justify-content: end;
  padding-right: 1rem;
}

.values-icon-down-arrow {
  display: flex;
  justify-content: end;
  padding-right: 1rem;
}
.values-dropdown-info {
  
  position: absolute;
  left: 0;
  top: calc(100% + .25rem);
  background-color: #A7A376;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  transform: translateX(200px);
  transition: opacity 150ms ease-in-out;
  
}

.values-dropdown-single > .values-icon-down-arrow:hover + .values-dropdown-info {
  opacity: 1;
  
}
.contact {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
}
.stay-in-touch {
  display: flex;
  flex-direction: column;
}
.contact-img {
  width: 300px;
}
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}
.product-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq-question {
  display: flex;
  align-items: center;
  height: 2rem;
}
.single-product-page {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  padding-bottom: 5%;
}
.single-product-img img{
  height: auto;
  width: 20rem;
  margin-bottom: 1rem;
}
.single-product-shots {
  width: 20rem;
  display: flex;
  justify-content: space-between;
}
.single-product-shots img {
  width: 6rem;
  height: 6rem;
}
.quantity {
  display: flex;
  background-color: #A7A376;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 2rem;
  margin-bottom: 1rem;
}
.product-dropdown-how-to {
  color: #A7A376;
  padding-top: 1rem;
}
.you-may-also-like {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  background-color: #A7A376;
  height:fit-content
}