* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.header {
background-color: #A7A376;
display: flex;
flex-direction: column;
align-items: center;
}
.header-logo {
  height: 5rem;
  width: 5rem;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1rem;
}
nav {
  background-color: #F6F1DF;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}
.nav-left {
  padding-left: 1rem;
}
.nav-right {
  padding-right: 1rem;
}

.home {
  background-color: #A7A376;
  display: flex;
  flex-direction: column;
}
.home-main {
  display: flex;
  
}
.home-left {
  padding-left: 7%;
  padding-top: 15%;
}
button {
  background-color: #A7A376;
  color:#F6F1DF;
  padding: 10px 24px;
  border-radius: 20px;
  border-color: #F6F1DF;
  border-style: solid;
  font-size: 16px;
  text-align: center;
}
.home-logo {
  width: 100%
}

.home-icons {
  display: flex;
  gap: 1rem;
  /* align-items: center; */
  justify-content: center;
  margin: 1rem;
}
.about-div {
  display: flex;
  background-color: #F6F1DF;
  
}
/* .about-img {
  
} */
.alexa-heart {
  height: 1000px;
}
.about-text {
  padding-left: 7%;
  padding-top: 15%;
}
.products {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}
.our-products {
  display: flex;
}
.product-text {
  width: 50%;
  padding: 5%;
}
.product-img {
  height: 200px;
}